.App {
    text-align: center;
  }
  .black-nav{
    background: black;
    width: 100%;
    display: flex;
    color: white;
    padding:20px;
    font-weight: 600;
    font-size: 20px;
  }
  .modal{
   margin-top: 20px;
   padding:20px;
   background-color: rgb(219, 190, 190); 
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }