


.App {
  .Container{
    width:100%;
    .Inner{
      margin:auto;
      max-width: 1400px;
      .banner-nav{
        height: 300px;
        width:100%;
          background: {
            image : url(../public/images/ManU_logo.jpg);  
                    position: center center;
                    repeat: no-repeat;
                    size : cover;
          };
          h1{
            color:white;
          }
      }
      .player_goalkeeper_section{
        display: flex;
      }
    }
  }
}

