@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$font_size_1: 12px;
$font_size_2: 14px;
$font_size_3: 16px;
$font_size_4: 18px;
$font_size_5: 20px;
$font_size_6: 22px;
$font_size_7: 24px;


$primary: #ff0000;
$secondary: #e9e513;
$accent: #1b57fc;
$background: #ffffff;
$text: #333333;